@import '../sassStyles/mixins';
@import '../sassStyles/variables';

$pi: ".personal-info";

#{$pi} {
  @include flex-column;

  &__title {
    @include form-title;
  }

  &__subtitle {
    @include form-subtitle;
  }
}

#{$pi}-form {
  @include flex-column;
}

#{$pi}-label {
  display: grid;
  grid-template-columns: 2;
  row-gap: $space-xs;
  margin-bottom: $space-md;

  &:last-child {
    margin-bottom: 0;
  }
}

#{$pi}-input {
  outline: 1px solid $light-gray;
  border: none;
  border-radius: $radius-small;
  padding: $space-xs;
  grid-column: 1 / span 2;
  grid-row: 2;
  color: $marine-blue;

  @include for-size(phone-only) {
    padding: $space-sm;
  }

  &:focus-visible {
    border: none;
    outline: 2px solid $purplish-blue;
  }

  &::placeholder {
    color: $cool-gray;
    font-weight: 500;
  }

  &_state_error {
    border: none;
    outline: 2px solid $strawberry-red;
  }
}

#{$pi}-label-text {
  color: $marine-blue;
  font-size: $fs-sm;
}

#{$pi}-error-text {
  text-align: end;
  color: $strawberry-red;
  font-size: $fs-sm;
}
