@import '../sassStyles/variables';
@import '../sassStyles/mixins';

.main {
  width: 60vw;
  aspect-ratio: 1.6;
  display: flex;
  padding: $space-sm 0 $space-sm $space-sm;
  border-radius: $radius-large;
  background-color: $white;

  @include for-size(desktop-smaller) {
    width: 65vw;
    aspect-ratio: 1.4;
  }

  @include for-size(tablet) {
    @include flex-column;
    align-items: center;
    min-width: 100%;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
  }
}
