@import '../sassStyles/variables';

.main {
  min-height: 70vh;
  min-width: 60vw;
  display: flex;
  padding: $space-sm 0 $space-sm $space-sm;
  border-radius: $radius-large;
  background-color: $white;
}
