@import '../sassStyles/mixins';
@import '../sassStyles/variables';

$a: ".add-ons";
$af: ".add-ons-form";

input[type="checkbox"] {
  @include hide-default-input;
}

#{$a} {
  &__title {
    @include form-title;
  }

  &__subtitle {
    @include form-subtitle;
  }
}

#{$af} {
    @include flex-column;

    &__option {
      margin-bottom: $space-sm;

      @include for-size(desktop-small) {
        margin-bottom: $space-xs;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__pseudo-button {
      border-radius: $radius-small;
      border: 1px solid $cool-gray;
      padding: $space-md;
      display: grid;
      grid-template-columns: min-content auto auto;
      grid-template-rows: repeat(2, auto);
      row-gap: $space-xxs;
      cursor: pointer;

      @include for-size(desktop-small) {
        padding: $space-sm;
      }

      @include for-size(tablet) {
        grid-template-rows: repeat(2, minmax(min-content, max-content));
      }

      &:hover {
        border-color: $purplish-blue;
      }
    }

    &__pseudo-checkbox {
      grid-column: 1;
      grid-row: 1 / span 2;
      justify-self: start;
      align-self: center;
      margin: 0;
      $size: 20px;
      width: $size;
      height: $size;
      border-radius: $radius-xxs;
      margin-right: $space-md;
      border: 1px solid $cool-gray;

      @include for-size(tablet) {
        margin-right: $space-sm;
      }

      &_state_checked {
        background-color: $purplish-blue;
        background-image: url("../../assets/images/icon-checkmark.svg");
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    &__title {
      grid-column: 2;
      grid-row: 1;
      color: $marine-blue;
      font-weight: 500;
      font-size: $fs-primary;

      @include for-size(desktop-small) {
        font-size: $fs-primary-sm;
      }

      @include for-size(tablet) {
        align-self: end;
      }
    }

    &__subtitle {
      grid-column: 2;
      grid-row: 2;
      color: $cool-gray;
      font-size: $fs-primary-sm;

      @include for-size(desktop-small) {
        font-size: $fs-sm;
      }
    }

    &__cost {
      grid-column: 3;
      grid-row: 1 / span 2;
      justify-self: end;
      align-self: center;
      color: $purplish-blue;
      font-size: $fs-sm;
      font-weight: 500;
    }
}

input[type="checkbox"]:checked + #{$af}__pseudo-button {
  border-color: $purplish-blue;
  background-color: $alabaster;
}
