@import './variables';
@import './typography';
@import './mixins';

#root {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
}

body {
  @include font-family;
  background-color: $magnolia;
  margin: 0;
}

span,
input {
  @include font-family;
}

h1,
h2,
p {
  @include reset-text;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section-default {
  @include flex-column;
  height: 100%;

  @include for-size(tablet) {
    background-color: $white;
    width: 80%;
    height: 70%;
    border-radius: $radius-small;
    margin: 0 auto;
    padding: $space-lg $space-md;
  }

  &__title {
    @include form-title;
  }

  &__subtitle {
    @include form-subtitle;
  }
}

.form-default {
  @include flex-column;
  flex-grow: 1;
}
