@import './variables';
@import './typography';
@import './mixins';

#root {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
}

body {
  font-family: 'Ubuntu', 'Times New Roman', Times, serif;
  background-color: $magnolia;
  margin: 0;
}

span,
input {
  font-family: 'Ubuntu', 'Times New Roman', Times, serif;
}

h1,
h2,
p {
  @include reset-text;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section-default {
  @include for-size(phone-only) {
    background-color: $white;
    width: 80%;
    border-radius: $radius-small;
    margin: 0 auto;
    padding: $space-lg $space-md;
  }

  &__title {
    @include form-title;
  }

  &__subtitle {
    @include form-subtitle;
  }
}
