@import './variables';

@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 700px) { @content; }
  } @else if $size == tablet {
    @media (max-width: 900px) { @content; }
  } @else if $size == desktop-up {
    @media (max-width: 1200px) { @content; }
  }
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin reset-text {
  margin: 0;
}

@mixin reset-button {
  background-color: transparent;
  padding: 0;
  border: none;
}

@mixin form-title {
  font-size: $fs-title-lg;
  margin-bottom: $space-sm;
  color: $marine-blue;

  @include for-size(phone-only) {
    font-size: $fs-primary-lg;
  }
}

@mixin form-subtitle {
  font-size: $fs-primary;
  margin-bottom: $space-lg;
  color: $cool-gray;

  @include for-size(phone-only) {
    font-size: $fs-primary-sm;
    margin-bottom: $space-md;
  }
}

@mixin hide-default-input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
}
