@import '../sassStyles/variables';
@import '../sassStyles/mixins';

$sb: '.steps-bar';

#{$sb}-container {
  border-radius: $radius-small;
  background-image: url('../../assets/images/bg-sidebar-desktop.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: $space-lg;
  min-width: 20%;

  @include for-size(desktop-smaller) {
    padding: $space-lg $space-md;
  }

  @include for-size(desktop-small) {
    padding: $space-lg $space-sm;
  }

  @include for-size(tablet) {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: $space-xl 0 $space-xxl;
    background-position: center bottom 15%;
    background-size: cover;
    border-radius: 0;
  }
}

#{$sb}-list {
  @include flex-column;
  gap: $space-lg;

  @include for-size(tablet) {
    flex-direction: row;
    gap: $space-sm;
    max-width: fit-content;
  }
}

$bi: '.bar-item';

#{$bi} {
  &__wrapper {
    color: $alabaster;
    display: grid;
    grid-template-columns: min-content auto;
    column-gap: $space-md;
    text-align: start;

    @include for-size(desktop-smaller) {
      column-gap: $space-sm;
    }

    @include for-size(tablet) {
      column-gap: 0;
    }
  }

  &__step-number {
    $size: 30px;
    display: flex;
    border-radius: 50%;
    width: $size;
    height: $size;
    border: 1px solid $alabaster;
    justify-content: center;
    align-items: center;
    align-self: center;
    grid-column: 1;
    grid-row: 1 / span 2;
    transition: all $transition-short;

    &_active {
      background-color: $light-blue;
      border-color: $light-blue;
      color: $marine-blue;
    }
  }

  &__step-title {
    color: $light-gray;
    grid-column: 2;
    font-size: $fs-sm;

    @include for-size(tablet) {
      display: none;
    }
  }

  &__step-subtitle {
    grid-column: 2;
    font-size: $fs-primary;
    font-weight: 500;
    text-transform: uppercase;

    @include for-size(desktop-smaller) {
      font-size: $fs-primary-sm;
    }

    @include for-size(tablet) {
      font-size: $fs-primary-sm;
    }

    @include for-size(tablet) {
      display: none;
    }
  }
}
