@import '../sassStyles/mixins';

$fn: '.form-nav';

#{$fn} {
  margin-top: auto;
  padding-top: $space-xl;
  display: flex;
  justify-content: space-between;

  &__button {
    @include reset-button;

    font-size: $fs-primary-sm;
    font-weight: 500;
    transition: all $transition-primary;

    &_direction_back {
      color: $cool-gray;

      &:hover {
        color: $marine-blue;
        cursor: pointer;
      }

      &_hidden {
        visibility: hidden;
      }
    }

    &_direction_next {
      border-radius: $radius-small;
      padding: $space-sm $space-md;
      background-color: $marine-blue;
      color: $magnolia;

      &:hover {
        background-color: $purplish-blue;
        cursor: pointer;
      }

      &_state_disabled {
        cursor: default;
        background-color: $light-blue;

        &:hover {
          cursor: default;
          background-color: $light-blue;
        }
      }
    }
  }
}
